{% extends 'basic/base.html' %}

{% block title %}
Контакты и информация о нас
{% endblock %}

{% block content %}
<div class="text-dark" style="margin-left: 30px;">
    <h1 class="title">LASKAVA</h1>
    <h4>Свежая выпечка и десерты ежедневно</h4>
    <h4>Свежемолотый кофе</h4>
    <h5>Режим работы:</h5>
    <h6>понедельник-пятница с 08.00 до 22.00</h6>
    <h6>суббота-воскресенье с 09.00 до 22.00</h6>
    <h2>Информация о нас в соцсетях:</h2>
    <div class="socials">
        <a href="https://www.instagram.com/laskava_priluky/?utm_medium=copy_link" class="social-in socials-item">
            <img src="static/images/instagram-new.png">
        </a>
    </div>
    <h2>Наши адреса:</h2>
    <div>
        <h2>Минский район, аг Прилуки, ул.Майская, 2 :</h2>
        <img src="static/images/5CNIwBPJtXQ.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/5FlBWZg1wXc.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/liUliAY7Jys.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/OHu0rY2bFrI.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/Q9Q_etdzofE.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/UElxTZvzfcg.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/XHyT6lfFzIw.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/za7s2XnIR8c.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/ebGWcukX_D0.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/4-xpdu0JkrA.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/21bUjECCBYk.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/QVuz1R-fqIc.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/eFm3AuIRmIY.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/AvkbJ3uuLTM.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/coffee9.jpg" width=25% vspace="10px" hspace="25px">
        <h2>г.Минск, ул.Корженевского, 10А :</h2>
        <img src="static/images/L.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/VBYXAXjSIYY.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/XXL.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/coffee10.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/XXL1.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/PgH9ZyhzGNU.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/XXL2.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/iBjZGjYKkZU.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/q1_OSIJfrfE.jpg" width=25% vspace="10px" hspace="25px">
        <h2>г.Минск, ул.Шаранговича, 67 :</h2>
        <img src="static/images/bHZ0rsOEfZ8.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/b3kd8JGgEJQ.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/coffee6.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/coffee5.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/coffee8.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/LMgtqyLT42E.jpg" width=25% vspace="10px" hspace="25px">
        <h2>г.Минск, ул.Рафиева, 56 :</h2>
        <img src="static/images/XXXL.jpg" width=52% vspace="10px" hspace="25px">
        <img src="static/images/coffee13.jpg" width=27% vspace="10px" hspace="25px">
        <img src="static/images/coffee3.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/AB2lN1y37lc.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/02gKUmgJ7VY.jpg" width=25% vspace="10px" hspace="25px">
        <h2>г.Минск, ул.Ольшевского, 10 :</h2>
        <img src="static/images/XXL3.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/L1.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/coffee4.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/K1F34XTRvRM.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/Nv57UYDIBQU.jpg" width=25% vspace="10px" hspace="25px">
        <img src="static/images/MUs9cC6XYmI.jpg" width=25% vspace="10px" hspace="25px">
    </div>
</div>

{% endblock %}
