{% extends 'basic/base.html' %}

{% block title %}
LasKava
{% endblock %}

{% block content %}
    <h1>laskava</h1>
    <h4>Свежая выпечка и десерты ежедневно</h4>
    <h4>Свежемолотый кофе</h4>
    <h5>Режим работы:</h5>
    <h6>понедельник-пятница с 08.00 до 22.00</h6>
    <h6>суббота-воскресенье с 09.00 до 22.00</h6>
    <img src="static/images/XXL.jpg" width="300" height="250">
    <img src="static/images/XXL1.jpg" width="300" height="250">
    <img src="static/images/XXL2.jpg" width="300" height="250">
    <img src="static/images/XXL3.jpg" width="300" height="250">
    <img src="static/images/XXXL.jpg" width="300" height="250">
    <img src="static/images/L.jpg" width="300" height="250">
    <img src="static/images/L1.jpg" width="300" height="250">
    <img src="static/images/r5fe-Laskava-beverage-2021-08.jpg" width="300" height="250">
    <img src="static/images/coffee2.jpg" width="300" height="250">
    <img src="static/images/Srv8r7AWTGk.jpg" width="300" height="250">
    <img src="static/images/coffee3.jpg" width="300" height="250">
    <img src="static/images/coffee4.jpg" width="300" height="250">
    <img src="static/images/coffee5.jpg" width="300" height="250">
    <img src="static/images/coffee6.jpg" width="300" height="250">
    <img src="static/images/coffee7.jpg" width="300" height="250">
    <img src="static/images/coffee8.jpg" width="300" height="250">
    <img src="static/images/coffee9.jpg" width="300" height="250">
    <img src="static/images/coffee10.jpg" width="300" height="250">
    <img src="static/images/coffee11.jpg" width="300" height="250">
    <img src="static/images/coffee12.jpg" width="300" height="250">
    <img src="static/images/coffee13.jpg" width="300" height="250">
    <img src="static/images/coffee14.jpg" width="300" height="250">
{% endblock %}
