{% extends 'basic/base.html' %}

{% block title %}
LasKava
{% endblock %}

{% block content %}
<div class="text-dark" style="margin-left: 30px;">
    <h1 class="title">LASKAVA</h1>
    <h4>Свежая выпечка и десерты ежедневно</h4>
    <h4>Свежемолотый кофе</h4>
    <h5>Режим работы:</h5>
    <h6>понедельник-пятница с 08.00 до 22.00</h6>
    <h6>суббота-воскресенье с 09.00 до 22.00</h6>
</div>
<div class="menu">
    <center>
        <h2>Наше меню</h2>
        <ul><strong>КОФЕ :</strong></ul>
            <li>Эспрессо</li>
            <li>Американо</li>
            <li>Двойной американо</li><br>
        <ul><strong>КОФЕ С МОЛОКОМ :</strong></ul>
            <li>Эспрессо макиато</li>
            <li>Капучино</li>
            <li>Двойной капучино</li>
            <li>Латте</li>
            <li>Флэт Уайт</li>
            <li>Раф</li>
            <li>Моккачино</li><br>
        <ul><strong>НЕ КОФЕ :</strong></ul>
            <li>Какао</li>
            <li>Большое какао</li>
            <li>Матча-латте</li>
            <li>Чай</li><br>
        <ul><strong>СЕТЫ :</strong></ul>
            <li>Двойной капучино + круассан</li>
            <li>Латте + чизкейк</li>
    </center>
</div>
{% endblock %}
